@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Teko:100,200,300,400,500,600,700');

body,
head {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------Background--*/
.bg-guitar {
    height: 100vh;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}



/*-----------------------------------------------------------------Navigation Top Bar --*/

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 70px;
    z-index: 2;
}




.logo-top {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #fafafa;
    position: fixed;
}




h3 {
    color: white;
}

/*-----------------------------------------------------------------Navigation Bottom Bar--*/


.bottom-bar {
    margin-top: 70px;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 0;
    background-color: #fafafa;
    border-bottom: solid;
}

.music-services {
    list-style: none;
}
.music-services li a i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 5px;
    padding-top: 15px;
    margin-left: 30px;
    font-size: x-large;
    
    
}

.fab.fa-spotify {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-spotify:hover {
    color: #37b823;
}

.fab.fa-youtube {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-youtube:hover {
    color: #fd0101;
}
.fab.fa-itunes {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-itunes:hover {
    color: #b317bd;
}
/*-----------------------------------------------------------------Section--*/


.logo {
    height: 100vh;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

/*-----------------------------------------------------------------Footer--*/

.footer-bar {
    position: relative;
    height: 85px;
    width: 100%;
    background-color: #000000;
}
