@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Teko:100,200,300,400,500,600,700');

body,
head {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------Navigation*/

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 70px;
    z-index: 2;
}


.bottom-bar {
    margin-top: 70px;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 0;
    background-color: #fafafa;
    border-bottom: solid;
}


.revenge {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #fafafa;
    position: fixed;
}




h3 {
    color: white;
}

/*-----------------------------------------------------------------section*/


.logo {
    height: 100vh;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------------------------------------------Footer*/

.footer-bar {
    position: relative;
    height: 85px;
    width: 100%;
    background-color: #000000;
}
