@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Teko:100,200,300,400,500,600,700');

body,
head {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------Backgrounds--*/
.bg-guitar {
    height: 100vh;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

.bg-content {
    margin: auto;
    width: 66%;
    height: 100%;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------------------------------Navigation Top Bar --*/

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 70px;
    z-index: 2;
}




.logo-top {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #fafafa;
    position: fixed;
    margin-left: 40px;
}




h3 {
    color: white;
}

/*-----------------------------------------------------------------Navigation Bottom Bar--*/


.bottom-bar {
    margin-top: 70px;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 0;
    background-color: #fafafa;
    border-bottom: solid;
}

.music-services {
    list-style: none;
    display: inline-block;
    margin-bottom:0px;
    
}
.music-services li a {
    margin-left: 30px;
    
}

.music-services li a i {
    height: 30px;
    text-align: center;
    line-height: 5px;
    margin-top: 15px;
    font-size: x-large;
}


.fab.fa-spotify {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-spotify:hover {
    color: #37b823;
}

.fab.fa-youtube {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-youtube:hover {
    color: #fd0101;
}
.fab.fa-itunes {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-itunes:hover {
    color: #b317bd;
}

.social-media {
    list-style: none;
    float: right;
    margin-bottom:0px;
}

.social-media li a {
        margin-right: 30px;
}

.social-media li a i {
   
    text-align: center;
    line-height: 5px;
    margin-top: 15px;
    font-size: x-large;
}

.fab.fa-facebook {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-facebook:hover {
    color: #4c6fec;
}

.fab.fa-instagram {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-instagram:hover {
    color: #ec6b00;
}
.fab.fa-twitter {
    color: #000;
    transition: all 0.5s ease-in-out
}
.fab.fa-twitter:hover {
    color: #1dc0ff;
}

/*-----------------------------------------------------------------Section--*/


.logo {
    height: 100vh;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}



/*-----------------------------------------------------------------Footer--*/

.footer-bar {
    position: relative;
    height: 85px;
    width: 100%;
    background-color: #000000;
}
