@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Teko:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

body,
head {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------Backgrounds and general margins/paddings--*/

.bg-guitar {
    height: 100%;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 58px 0px 0px 0px;

}

@media (max-width: 991px) {
    .bg-guitar {
        height: 100%;
        background: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 75px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .bg-guitar {
        height: 100%;
        background: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 75px 0px 0px 0px;
    }
}


.bg-content {
    margin: auto;
    width: 66%;
    height: 100%;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .bg-content {
        margin: auto;
        width: 95%;
        height: 100%;
        color: #fafafa;
        background-color: #000;
    }
}




.blackbg {
    height: 100vh;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-----------------------------------------------------------------Navigation Top Bar --*/

/*------------------------------- menu dropdown button--*/

.menu {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}


.btn-dropdown {
    background-color: #000;
    color: #fafafa;
    border-color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 250%;
}

.dropdown-menu>li>a {
    text-align: center;
    color: #fafafa;
}

.dropdown-menu>li>a:hover {
    color: #000;
}

.dropdown-menu {
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin-top: 71px;
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;

}

.divider-menu {
    border-bottom: 2px solid;
    color: #fafafa;
    width: 100vw;
}

/*-------------------------end---dropdown menu --*/

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 71px;
    z-index: 2;
}




.logo-top {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #fafafa;
    position: fixed;
    font-size: 300%;
    margin-left: 10px;
    margin-top: 16px;
    text-decoration: none;
}

.menuitem {
    text-align: center;
    margin-top: 18px;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;
    height: 70px;
    transition: all .4s ease-in-out;
}

.menuitem span {
    font-family: 'Oswald', sans-serif;
    font-size: 190%;
    font-weight: 500;

}

.menuitem a:hover {
    color: #838282;
}


/*-----------------------------------------------------------------Navigation Bottom Bar--*/

.bottom-bar {
    margin-top: 70px;
    width: 100%;
    height: 10px;
    position: fixed;
    z-index: 3;
    background-color: #fafafa;
    border-bottom: solid;
}



/*-----------------------------------------------------------------Content--*/

/*--------------------Tour--*/

.content {
    text-align: center;
}

.year {
    font-family: 'Teko', sans-serif;
    font-size: 300%;
}

.calendar {
    font-size: 300%;
}

.tour {
    display: flex;
    justify-content: center;
}

.dates {
    border-right: 2px solid;
    flex: 50%;
    max-width: 30%;
    margin-bottom: 40px;
}

.concertplaces {
    flex: 50%;
    max-width: 70%;
}

.date {
    font-family: 'Teko', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 150px;
    font-size: 300%;
}

.datesmall {
    font-family: 'Teko', sans-serif;
    margin-top: 40px;
    height: 150px;
    font-size: 200%;
}

.concert {
    margin-top: 14px;
    margin-bottom: 40px;
    height: 150px;
}

.concert span {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
}

.concert p {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out
}

.concert p:hover {
    color: #000;
    background-color: #fafafa;
}

.tickets {
    font-size: 80%;
}

/*--------------------Band--*/

.band {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.circle1 {
    background: url(../img/band/band1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 20px 0px;
    margin: auto;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fafafa;
}

.circle2 {
    background: url(../img/band/band2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 20px 0px;
    margin: auto;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fafafa;
}

.circle3 {
    background: url(../img/band/band3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 20px 0px;
    margin: auto;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fafafa;
}

.circle4 {
    background: url(../img/band/band4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px 20px 0px;
    margin: auto;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fafafa;
}



/*--------------------News--*/

.flex-column {
    display: flex;
}

.news-image {
    flex: 50%;
    max-width: 30%;

}


.news-text {
    flex: 50%;
    max-width: 70%;
}

@media (max-width: 991px) {
    .news-text {
        flex: 100%;
        max-width: 90%;
        margin-left: 30px;
    }
}

.news-image {
    border-right: solid;
    color: #fafafa;
    border-radius: 3px;


}

.paragraph {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
}

.paragraph p {
    font-family: 'Fjalla One', sans-serif;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out
}

.title:hover {
    color: #000;
    background-color: #fff;
}

.square1 {
    background: url(../img/news/news1.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.square2 {
    background: url(../img/news/news2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.square3 {
    background: url(../img/news/news3.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.square4 {
    background: url(../img/news/news4.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.square5 {
    background: url(../img/news/news5.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.readmore {
    
}


/*-------------------End-News--*/

.content {
    height: 60%;
}

.content h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    font-size: 400%;

}

.content h3,
h6 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.center {
    display: flex;
    justify-content: center;

}

.band-jpg {
    background: url(../img/band.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}


/*-------------------------------------------------------------End----Content--*

/*-----------------------------------------------------------------Footer--*/

.footer {
    padding: 0;
}

.footer-bar {
    height: 150px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    border-top: 6px solid #fff;
}



.musicservices-socialmedia {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}

.musicservices-socialmedia li a {
    margin-left: 30px;

}

.musicservices-socialmedia li a i {
    height: 30px;
    text-align: center;
    line-height: 5px;
    margin-top: 15px;
    font-size: 200%;
}

@media (max-width: 991px) {
    .musicservices-socialmedia li a i {
        height: 15px;
        text-align: center;
        line-height: 5px;
        margin-top: 7px;
        font-size: 150%;
        margin-bottom: 10px;
    }
    .divider {
        margin-top: 0px;
        height: 2px;
        width: 150px;
        border: 0px;
        background-color: #fff;
    }
    .musicservices-socialmedia li a {
        margin-left: 5px;

    }
    .pp {
        font-size: small;
        color: #ffffff;
        transition: all 0.5s ease-in-out
    }

    .cp {
        font-size: small;
        color: #ffffff;
        transition: all 0.5s ease-in-out
    }
    .ver-div {
        font-size: small;
        color: #ffffff;
    }

}

.fab.fa-spotify {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-spotify:hover {
    color: #37b823;
}

.fab.fa-youtube {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-youtube:hover {
    color: #fd0101;
}

.fab.fa-itunes {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-itunes:hover {
    color: #b317bd;
}

.fab.fa-facebook {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-facebook:hover {
    color: #4c6fec;
}

.fab.fa-instagram {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-instagram:hover {
    color: #ec6b00;
}

.fab.fa-twitter {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-twitter:hover {
    color: #1dc0ff;
}

.divider {
    margin-top: 5px;
    height: 2px;
    width: 150px;
    border: 0px;
    background-color: #fff;
    padding: 0px;
}

.cookieprivace {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.cookieprivace a {
    text-decoration: none;
}

.pp {
    color: #ffffff;
    transition: all 0.5s ease-in-out
}

.cp {
    color: #ffffff;
    transition: all 0.5s ease-in-out
}

.pp:hover {
    color: #838282;
    transition: all 0.5s ease-in-out
}

.cp:hover {
    color: #838282;
    transition: all 0.5s ease-in-out
}

.ver-div {
    color: #ffffff;
}
