@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Teko:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

body,
head {
    margin: 0;
    padding: 0;
}

body {
    height: 100%
}

/*-----------------------------------------------Backgrounds and general margins/paddings dividers--*/

.row {
    margin: 0px;
}

.section {
    height: 100%;
}

.bg-guitar {
    height: 100%;
    background: url(../img/bass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 58px 0px 0px 0px;

}

.bg-content {
    margin: auto;
    width: 66%;
    height: 100%;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.8);
}

.blackbg {
    height: 100vh;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-div {
    width: 60%;
    color: #fafafa;
    background-color: #fafafa;
    border: none;
    height: 3px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.news-div {
    width: 60%;
    color: #fafafa;
    background-color: #fafafa;
    border: none;
    height: 3px;
}

.vh {
    height: 100vh;
}

/*-----------------------------------------------------------------Navigation Top Bar --*/

/*------------------------------- menu dropdown button--*/

.menu {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

.btn-dropdown {
    background-color: #000;
    color: #fafafa;
    border-color: #000;

    font-size: 250%;
}

.dropdown-menu>li>a {
    text-align: center;
    color: #fafafa;
    letter-spacing: 8px;
}

.dropdown-menu>li>a:hover {
    color: #000;
}

.dropdown-menu {
    width: 100vw;
    background-color: black;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 375%;
    color: #fafafa;
    font-weight: 700;
}

div>#dropdownposition {
    transform: translate3d(-615px, 56px, 0px);
}

.divider-menu {
    border-bottom: 2px solid;
    color: #fafafa;
    width: 100%;
}

/*-------------------------end---dropdown menu --*/

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 71px;
    z-index: 2;
    left: 0px;
}

.logo-top {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #fafafa;
    position: fixed;
    font-size: 300%;
    margin-left: 10px;
    margin-top: 16px;
    text-decoration: none;
}

.menuitem {
    text-align: center;
    margin-top: 18px;
}

.menuitem a {
    text-decoration: none;
    height: 70px;

}

.menuitem span {
    font-family: 'Oswald', sans-serif;
    font-size: 190%;
    font-weight: 500;
    margin: 10px;
    color: #fff;
    transition: all .4s ease-in-out;

}

.menuitem span:hover {
    color: #838282;
}

/*-----------------------------------------------------------------Navigation Bottom Bar--*/

.bottom-bar {
    margin-top: 70px;
    width: 100%;
    height: 10px;
    position: fixed;
    z-index: 3;
    background-color: #fafafa;
    border-bottom: solid;
}

/*-----------------------------------------------------------------Content--*/

/*--------------------Gallery--*/

.fancybox {
    margin-top: 60px;
}

.gallery {
    margin: 40px 20px 20px 20px;
    font-family: 'Teko', sans-serif;
    color: #fafafa;
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out
}

.gallery:hover {
    color: #000;
    background-color: #fafafa;
}

.imglist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imglist a img {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/*--------------------Music--*/

.single {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%;
    margin: 40px 20px 20px 20px;
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    letter-spacing: 4px;
}

.single:hover {
    background-color: #fafafa;
    color: #000;
}

.single > span {
    white-space: nowrap;
}

.album {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 120%;
    margin: 40px 20px 20px 20px;
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    letter-spacing: 4px;
}

.album:hover {
    background-color: #fafafa;
    color: #000;
}

/*--------------------Contact--*/

.contact {
    font-size: 300%;
}

.centerform {
    display: flex;
    justify-content: center;
}

.inputforms {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
    font-size: 115%;
    margin-top: 25px;
}

.sendbutton {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    padding-top: 3px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 120%;
    border: 2px solid;
    color: #fafafa;
    background-color: transparent;
    border-color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease-in-out;
    outline: none;
}

.form-control:focus {
    border-color: #fafafa;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input[type=text],
input[type=email] {
    width: 80%;
    padding: 0px 20px;
    display: flex;
    margin: auto;
    border: none;
    border-bottom: 2px solid #fafafa;
    box-sizing: border-box;
    background-color: transparent;
    outline-color: #fafafa;
}

input[type=text]:focus {
    outline: #fafafa;
}

input[type=submit] {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    padding-top: 3px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 120%;
    border: 2px solid;
    color: #fafafa;
    background-color: transparent;
    border-color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease-in-out;
    outline: none;
}

input[type=submit]:hover {
    background-color: #fafafa;
    color: #000;
}

input[placeholder] {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 2px;
}

textarea {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 2px;
    border: 2px solid;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #fafafa;
    border-radius: 4px;
    background-color: transparent;
    color: #fafafa;
    resize: none;
    outline: none;
    margin-top: 25px;
}

label {
    padding: 0px 30px;
    margin-top: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out
}

label:hover {
    background-color: #fafafa;
    color: #000;
}

.radiopick {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 2px;
    color: #fafafa;
    text-transform: uppercase;
    margin-left: 10px;
}

input[type=radio] {
    margin-top: 12px;
}

input[value="concert"] {
    margin-top: 25px;
}

/*--------------------Tour--*/

.concert>a {
    margin: auto;
    text-decoration: none;
}

.tickets {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    padding-top: 3px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 120%;
    border: 2px solid;
    color: #fafafa;
    border-color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease-in-out;
}

.tickets:hover {
    background-color: #fafafa;
    color: #000;
}

.content {
    color: #fafafa;
    text-align: center;
}

.year {
    font-family: 'Teko', sans-serif;
    font-size: 300%;
}

.calendar {
    font-size: 300%;
}

.tour {
    display: flex;
    justify-content: center;
}

.dates {
    border-right: 2px solid;
    flex: 50%;
    max-width: 30%;
    margin-bottom: 40px;
}

.concertplaces {
    flex: 50%;
    max-width: 70%;
}

.date {
    font-family: 'Teko', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 150px;
    font-size: 300%;
    color: #fafafa;
}

.datesmall {
    font-family: 'Teko', sans-serif;
    margin-top: 40px;
    height: 50px;
    font-size: 200%;
    color: #fafafa;
}

.concert {
    margin-top: 14px;
    margin-bottom: 40px;
    height: 150px;
}

.concert>span {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    margin-bottom: 30px;
    color: #fafafa;
}

.where {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
    color: #fafafa;
}

.where:hover {
    color: #000;
    background-color: #fafafa;
}

/*--------------------Band--*/

.bandparagraph {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%;
    margin: 40px 20px 20px 20px;
    transition: all 0.5s ease-in-out;
    letter-spacing: 4px;
    color: #fafafa;
}

.bandparagraph:hover {
    color: #000;
    background-color: #fafafa;
}

.members {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
}

.circle {
    padding: 45px 0px 20px 0px;
    margin: auto;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fafafa;
}

.band1 {
    background: url(../img/band/band1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.band2 {
    background: url(../img/band/band2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.band3 {
    background: url(../img/band/band3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.band4 {
    background: url(../img/band/band4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*--------------------News--*/

.flex-column {
    display: flex;
}

.news-image {
    flex: 50%;
    max-width: 30%;
}

.news-text {
    flex: 50%;
    max-width: 70%;
}

.news-image {
    border-right: solid;
    color: #fafafa;
    border-radius: 3px;
}

.paragraph {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
}

.paragraph>p {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: #fafafa;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out
}

.title:hover {
    color: #000;
    background-color: #fafafa;
}

.square {
    height: 180px;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    border: 4px solid;
    border-color: #fafafa;
}

.news1 {
    background: url(../img/news/news1.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news2 {
    background: url(../img/news/news2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news3 {
    background: url(../img/news/news3.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news4 {
    background: url(../img/news/news4.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news5 {
    background: url(../img/news/news5.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.readmore {
    background-color: #fafafa;
    color: #000;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
}

.readmore:hover {
    background-color: #000;
    color: #fafafa;
}

.paragraph>p>a {
    text-decoration: none;
}

/*--------------------News-Read-More-*/

.newsfull1 {
    margin: auto;
    background: url(../img/news/newsfull/newsfull1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 600px;
    margin-bottom: 30px;
}

.newsfull2 {
    margin: auto;
    background: url(../img/news/newsfull/newsfull2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 600px;
    margin-bottom: 30px;
}

.newsfull3 {
    margin: auto;
    background: url(../img/news/newsfull/newsfull3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 600px;
    margin-bottom: 30px;
}

.newsfull4 {
    margin: auto;
    background: url(../img/news/newsfull/newsfull4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 600px;
    margin-bottom: 30px;
}

.newsfull5 {
    margin: auto;
    background: url(../img/news/newsfull/newsfull5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 600px;
    margin-bottom: 30px;
}

.newsparagraph {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
    font-size: 115%;
    margin: 35px 20px 30px 20px;
    min-height: 400px;
}

/*-------------------Cookie and Privace Policy--*/

.cookieparagraph {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
    font-size: 115%;
    margin: 35px 20px 30px 20px;
}

.policyparagraph {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
    font-size: 115%;
    margin: 35px 20px 30px 20px;
}

/*-------------------General content style--*/

.content h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    font-size: 400%;
    color: #fafafa;
}

.content h3,
h6 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

/*-------------------Homepage--*/

.concerthomepage>span {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    margin-bottom: 30px;
    color: #fafafa;
}

.concerthomepage {
    margin-top: 14px;
    margin-bottom: 40px;
}

.concerthomepage>a {
    text-decoration: none;
}

.nextconcert {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    color: #fafafa;
}

.nextconcert:hover {
    color: #000;
    background-color: #fafafa;
}

.band-jpg {
    background: url(../img/band.jpg);
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.content2,
.content3,
.content1 {
    text-align: center;
}

.content3>p {
    font-family: 'Fjalla One', sans-serif;
    color: #fafafa;
    margin: 20px 20px 20px 20px;
}

.content3>p>a {
    text-decoration: none;
}

.newsimghomepage {
    background: url(../img/news/newsfull/newsfull1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 232px;
    width: 350px;
    margin: auto;
}

.homepagesingle,
.homepagenews {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    color: #fafafa;
    text-transform: uppercase;

}

.homepagenews:hover {
    transition: all 0.5s ease-in-out;
    background-color: #fafafa;
    color: #000;
}

.homepagesingle:hover {
    transition: all 0.5s ease-in-out;
    background-color: #fafafa;
    color: #000;
}

/*-------------------------------------------------------------End----Content--*

/*-----------------------------------------------------------------Footer--*/

.footer {
    padding: 0;
}

.footer-bar {
    height: 150px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    border-top: 6px solid #fff;
}

.musicservices-socialmedia {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}

.musicservices-socialmedia li a {
    margin-left: 30px;
}

.musicservices-socialmedia li a i {
    height: 30px;
    text-align: center;
    line-height: 5px;
    margin-top: 15px;
    font-size: 200%;
}

.fab.fa-spotify {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-spotify:hover {
    color: #1db954;
}

.fab.fa-youtube {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-youtube:hover {
    color: #e62117;
}

.fab.fa-itunes {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-itunes:hover {
    color: #b317bd;
}

.fab.fa-facebook {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-facebook:hover {
    color: #3b5998;
}

.fab.fa-instagram {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-instagram:hover {
    color: #ec6b00;
}

.fab.fa-twitter {
    color: #fff;
    transition: all 0.5s ease-in-out
}

.fab.fa-twitter:hover {
    color: #1dc0ff;
}

.divider {
    margin-top: 5px;
    height: 2px;
    width: 150px;
    border: 0px;
    background-color: #fff;
    padding: 0px;
}

.cookieprivace {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.cookieprivace a {
    text-decoration: none;
}

.pp {
    color: #ffffff;
    transition: all 0.5s ease-in-out
}

.cp {
    color: #ffffff;
    transition: all 0.5s ease-in-out
}

.pp:hover {
    color: #838282;
    transition: all 0.5s ease-in-out
}

.cp:hover {
    color: #838282;
    transition: all 0.5s ease-in-out
}

.ver-div {
    color: #ffffff;
}

/*-----------------------------------------------------------------Media Query--*/

@media (max-width: 991px) {
    .bg-guitar {
        height: 100%;
        background: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 75px 0px 0px 0px;
    }
    .bg-content {
        margin: auto;
        width: 95%;
        height: 100%;
        color: #fafafa;
        background-color: #000;
    }
    .concert {
        margin-top: 14px;
        margin-bottom: 90px;
        height: 150px;
    }
    .musicservices-socialmedia li a i {
        height: 15px;
        text-align: center;
        line-height: 5px;
        margin-top: 7px;
        font-size: 150%;
        margin-bottom: 10px;
    }
    .divider {
        margin-top: 0px;
        height: 2px;
        width: 150px;
        border: 0px;
        background-color: #fff;
    }
    .musicservices-socialmedia li a {
        margin-left: 5px;

    }
    .pp {
        font-size: small;
        color: #ffffff;
        transition: all 0.5s ease-in-out
    }

    .cp {
        font-size: small;
        color: #ffffff;
        transition: all 0.5s ease-in-out
    }
    .ver-div {
        font-size: small;
        color: #ffffff;
    }
     .newsfull1 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 207px;
        width: 300px;
        margin-bottom: 30px;
    }
    .newsfull2 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 207px;
        width: 300px;
        margin-bottom: 30px;
    }
    .newsfull3 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 207px;
        width: 300px;
        margin-bottom: 30px;
    }
    .newsfull4 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 207px;
        width: 300px;
        margin-bottom: 30px;
    }
    .newsfull5 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 207px;
        width: 300px;
        margin-bottom: 30px;
    }
      .news-text {
        flex: 100%;
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .bg-guitar {
        height: 100%;
        background: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 75px 0px 0px 0px;
    }
    .singlehomepage,
    .singlemusic {
        height: 250px;
    }
     .newsfull1 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        width: 255px;
        margin-bottom: 30px;
    }
    .newsfull2 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        width: 255px;
        margin-bottom: 30px;
    }
    .newsfull3 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        width: 255px;
        margin-bottom: 30px;
    }
    .newsfull4 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        width: 255px;
        margin-bottom: 30px;
    }
    .newsfull5 {
        margin: auto;
        background: url(../img/news/newsfull/newsfull5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 175px;
        width: 255px;
        margin-bottom: 30px;
    }
}